// Global stylesheet for TCM frontend

// TODO
// Style this page to actually look nice. Right now it is
// just some minimal tweaks to make the page look less
// dreadful.

body
{
  max-width: 80em;

  margin-left: auto;
  margin-right: auto;
}

form
{
  border: 1px solid;

  padding-left: 1em;
  padding-right: 1em;

  div
  {
    display: flex;
    flex-direction: column;

    max-width: 30em;
  }

  ul
  {
    list-style: none;
  }

  margin-bottom: 1em;
}

table
{
  border: 1px solid;

  table-layout: auto;

  width: 100%;
  padding-left: 1em;
  padding-right: 1em;
}

